<html>
<head>
  <title>Nodejs Chat</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <!-- <link rel="stylesheet" href="/css/bootstrap.css" /> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
  <link rel="stylesheet" href="/public/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/list_names.js"></script>
  <script src="/public/script.js"></script>
	<script src="/public/help.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav" id="list_users">
				<li class="sidebar-brand">
				</li>
			</ul>
		</div>

		<nav id="menu-top" class="navbar navbar-fixed-top">
			<button type="button" class="btn btn-lg black" id="menu-toggle" onclick="openMenu();">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
		</nav>

		<div id="page-content-wrapper">
			<table id="conversation" class="table table-striped">
				<thead id="header_chat"><h3 id="header_chat">Mensagens dos Usuarios</h3><thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
	
	<nav id="menu-bottom" class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Envie uma mensagem" id="input_text">
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary" id='btn_message'>Enviar</button>
      </span>
		</div>
	</nav>

	<!-- Help -->
	<div id="help"></div>
	
  <!-- Login -->
  <div class="container">
    <div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
							<label for="usr">Username:</label>
              <input type="text" class="form-control" placeholder="Digite seu nome" id="usr" oninput="disable_btn_login()">
							<div id="erro-login"></div>
		        </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id='btn_login' onclick="login()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
